{% extends "base_site.html" %}

{% block title %} Blank Page {% endblock title %}

{% block stylesheets %}
<!-- Specific CSS goes HERE -->
{% endblock %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h1 style="font-size: 20px"; class="sentiment1"> Positive : </h1>

              <p>Positive Sentiments</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h1 style="font-size: 20px"; class="sentiment2"> Neutral : </h1>

              <p>Neutral Sentiments</p>
            </div>
            <div class="icon">
              <i class="fa fa-wheelchair"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h1 style="font-size: 20px"; class="sentiment2"> Neutral : </h1>

              <p>Negative Sentiments</p>
            </div>
            <div class="icon">
              <i class="fa fa-heartbeat"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>001</h3>

              <p>Unique Visitors</p>
            </div>
            <div class="icon">
              <i class="fa fa-bar-chart"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
      </div>


      <div class="row">
        <div class="col-md-12">
          <!-- Line CHART -->
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">Live Area Line Chart</h3>
            </div>
            <div class="box-body">
              <div id="Live-Chart1"></div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <!-- DONUT CHART -->
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">Pie Chart</h3>
            </div>
            <div class="box-body">
              <div id="DonutCha"></div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>

        <div class="col-md-6">
          <!-- Word CHART -->
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">Word Cloud</h3>
            </div>
            <div class="box-body">
              <div id="wordcloud"></div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>



    </section>
    <!-- /.content -->

{% endblock content %}

{% block javascripts %}
<!-- Specific JS goes HERE -->

<script>
  var chartTemperatue;
  var loa;
  var data = [];
  var WordChart
  var BarChart


  function requestBar() {
    var requestsBar = $.get('/barchart');

    var tm = requestsBar.done(function(result){
      console.log(result[0])

      for (let index = 0; index < result[0].length; index++) {
        BarChart.series[0].data[index].update(result[0][index]);
      }
      for (let index = 0; index < result[1].length; index++) {
        BarChart.series[1].data[index].update(result[1][index]);
      }
      for (let index = 0; index < result[2].length; index++) {
        BarChart.series[2].data[index].update(result[2][index])
      }

      // console.log(BarChart.series[0].data[0])
    });
    
  }

  function requestDatala(){
        var requests = $.get('/dataPiecha');

        var tm = requests.done(function (result){

            // console.log(result)
            loa.series[0].data[0].update(result[0])
            loa.series[0].data[1].update(result[1])
            loa.series[0].data[2].update(result[2])



            setTimeout(requestDatala,2000);

        });
    }


  function requestData()
  {
      // Ajax call to get the Data from Flask
      var requests = $.get('/data');

      var tm = requests.done(function (result)
      {
          // Temperature
          var seriesTemperature = chartTemperatue.series[0],
              shiftTemperature = seriesTemperature.data.length > 20;


          // Add the Point
          // Positive
          var data1 = [];
          data1.push(result[0]);
          data1.push(result[1]);


          // Add the Point
          // Netural
          var data2 = [];
          data2.push(result[0]);
          data2.push(result[2]);


          // Add the Point
          // Negative
          var data3 = [];
          data3.push(result[0]);
          data3.push(result[3]);



          chartTemperatue.series[0].addPoint(data1, true, shiftTemperature);
          chartTemperatue.series[1].addPoint(data2, true, shiftTemperature);
          chartTemperatue.series[2].addPoint(data3, true, shiftTemperature);
        //   console.log(chartTemperatue.series[0].data)

          $(".sentiment1").text("");
          $(".sentiment1").text("Positive : " +  Math.round(data1[1]) );

          $(".sentiment2").text("");
          $(".sentiment2").text("Neutral : " +  Math.round(data2[1]) );

          $(".sentiment3").text("");
          $(".sentiment3").text("Negative : " +  Math.round(data3[1]) );

          // call it again after one second
          setTimeout(requestData, 2000);

      });
  }



  $(document).ready(function(){
    // --------------Chart 1 ----------------------------
    chartTemperatue = new Highcharts.chart({
    chart: {
        renderTo: 'Live-Chart1',
        type: 'areaspline',
        events :{
            load : requestData
        }
    },
    title: {
        text: 'Live Sentiments Analysis'
    },
    legend: {
        layout: 'vertical',
        align: 'left',
        verticalAlign: 'top',
        x: 150,
        y: 100,
        floating: true,
        borderWidth: 1,
        backgroundColor:
            Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF'
    },
    xAxis: {
        type: 'datetime',
        tickPixelInterval: 150,
        maxZoom: 20 * 1000
    },
    yAxis: {
        minPadding: 0.2,
        maxPadding: 0.2,
        title: {
            text: 'Value',
            margin: 80
        }
    },
    tooltip: {
        shared: true,
        valueSuffix: ' Percent'
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        areaspline: {
            fillOpacity: 0.5
        }
    },
    series: [{
        color : '#88ff18',
        lineColor: '#303030',
        name: 'Positive',
        data: []
    }, {
        color : '#3a68ff',
        lineColor: '#303030',
        name: 'Neutral',
        data: []
    },{
        color : '#ea0000',
        lineColor: '#303030',
        name: 'Negative',
        data: []
    }]
});
      // --------------Chart 1 Ends - -----------------
    loa = Highcharts.chart('DonutCha', {
    chart: {
        type: 'pie',
        options3d: {
            enabled: true,
            alpha: 45
        },
        events : {
            load:requestDatala
        },
        plotBorderColor: '#606063'
    },credits: {
        enabled: false
    },
    title: {
        text: 'Daily Sentiment Analyser',
    },
    subtitle: {
        text: 'Updates in one hour'
    },
    plotOptions: {
        pie: {
            innerSize: 100,
            depth: 60
        }
    },
    series: [{
        name: 'Sentiment Analyser',
        data: [
            ['Positive', 68],
            ['Neutral', 51],
            ['Negative', 92]
        ]
    }]
  });
  // --------------Chart 2 Ends -------------------

function chart(){
  var requests = $.get('/words')
  // console.log(requests);
  var tm = requests.done(function (result){
  var text = result;
  var lines = text.split(/[,\. ]+/g)
    data = Highcharts.reduce(lines, function (arr, word) {
        var obj = Highcharts.find(arr, function (obj) {
            return obj.name === word;
        });
        if (obj) {
            obj.weight += 1;
        } else {
            obj = {
                name: word,
                weight: 1
            };
            arr.push(obj);
        }
        return arr;
    }, []);


  WordChart = new Highcharts.chart({
        chart:{
            renderTo : 'wordcloud'
        },
        accessibility: {
            screenReaderSection: {
                beforeChartFormat: '<h5>{chartTitle}</h5>' +
                    '<div>{chartSubtitle}</div>' +
                    '<div>{chartLongdesc}</div>' +
                    '<div>{viewTableButton}</div>'
            }
        },
        series: [{
            type: 'wordcloud',
            data: data,
            name: 'Occurrences'
        }],
        title: {
            text: 'Live Wordcloud of Sentiments'
        },credits: {
        enabled: false
    }
    });

  });
}
chart()
setInterval(() => {
  chart(); 
}, 3000);

});

</script>
<!--High CHART LIVE  -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/wordcloud.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

{% endblock %}
