
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->

      
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li>
          <a href="/index">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/page-live">
            <i class="fa fa-group"></i> <span>Live Count</span>
          </a>
        </li>
        <li>
          <a href="/page-tweets">
            <i class="fa fa-twitter"></i> <span>Latest Tweets</span>
          </a>
        </li>
        <li>
          <a href="/page-feedback">
            <i class="fa fa-feed "></i> <span>Feedback</span>
          </a>
        </li>        
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
